body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
}

h1, h2, h3 {
  color: #024a85;
  font-weight: 600;
}

/* NAVBAR */

.navbar {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  margin-right: 10px;
}

/* CONTAINERS */

.container {
  max-width: 1100px;
}

.card {
  border-radius: 10px;
}

/* FORMS */

form label {
  font-weight: 500;
}

.form-control,
.form-select {
  border-radius: 6px;
}

/* BUTTONS */

.btn-primary {
  background-color: #024a85;
  border: none;
}

.btn-primary:hover {
  background-color: #013a68;
}

/* FOOTER */

footer {
  font-size: 0.9rem;
}
